Repository ianhomer/digital-garden: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint

.lintstagedrc:

{
  "*.{tsx,md}": "prettier --write .",
  "*.tsx": "eslint"
}

Lint fix
  package.json
  src/lib/content.ts
Due: none

Change require to const
  README.md
  garden.config.js
  test/cucumber/support/config.ts
  test/features/backlinks.feature
Due: prettier --write .

Move test into src directory
  cucumber.js
  src/test/content/garden1/README.md
  src/test/content/garden1/meta/vocabulary/vocabulary.md
  src/test/content/garden1/meta/vocabulary/word.md
  src/test/content/garden1/word/word-1.md
  src/test/content/garden1/word/word-2.md
  src/test/cucumber/support/config.ts
  src/test/features/backlinks.feature
Due: prettier --write .

Backlink e2e test
  README.md
  cucumber.js
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/test/cucumber/support/config.ts
  src/test/e2e/backlink.spec.ts
Due: prettier --write .

Set up reporting
  .gitignore
  playwright.config.ts
  src/test/e2e/backlink.spec.ts
Due: none

Add e2e test to pipeline
  .github/workflows/build.yaml
  package.json
  playwright.config.ts
Due: none

Lint and pnpm lock
  playwright.config.ts
  pnpm-lock.yaml
  src/test/e2e/backlink.spec.ts
Due: none

Lint
  src/test/e2e/backlink.spec.ts
Due: none

Add ts to lintstaged
  .lintstagedrc
Due: none

backlink specs
  .github/workflows/build.yaml
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/test/e2e/backlink.spec.ts
  src/test/e2e/link.spec.ts
Due: none

Lint and package lock
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: none

Longer timeout for CI
  playwright.config.ts
Due: none

Shorter timeout for server start up in dev
  playwright.config.ts
Due: none

Install ripgrep in github action
  .github/workflows/build.yaml
Due: none

Shorter timeout in CI
  playwright.config.ts
Due: none

sudo install apt-get in action
  .github/workflows/build.yaml
Due: none

Playwright e2e tests (#8)
  .github/workflows/build.yaml
  .gitignore
  .lintstagedrc
  README.md
  garden.config.js
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/lib/content.ts
  src/pages/[[...name]].tsx
  src/test/content/garden1/README.md
  src/test/content/garden1/meta/vocabulary/vocabulary.md
  src/test/content/garden1/meta/vocabulary/word.md
  src/test/content/garden1/word/word-1.md
  src/test/content/garden1/word/word-2.md
  src/test/e2e/backlink.spec.ts
  src/test/e2e/link.spec.ts
  src/test/features/backlinks.feature
Due: prettier --write ., eslint

Experiment with cucumber
  .github/workflows/build.yaml
  cucumber.js
  package.json
  pnpm-lock.yaml
  src/test/features/backlinks.feature
  src/test/features/support/steps.js
Due: none

Initial cucumber scaffolding
  cucumber.js
  package.json
  src/test/features/support/common.ts
  src/test/features/support/steps.ts
  tsconfig.json
Due: none

More cucumber foundations
  cucumber.js
  playwright.config.ts
  pnpm-lock.yaml
  src/test/features/steps/steps.ts
  src/test/features/support/common.ts
  src/test/features/support/steps.ts
  src/test/features/support/world.ts
Due: none

Ignore results for prettier
  .prettierignore
Due: none

Lint
  src/test/features/support/common.ts
  src/test/features/support/world.ts
Due: none

Implement step as cucumber feature
  .github/workflows/build.yaml
  package.json
  pnpm-lock.yaml
  src/test/features/backlinks.feature
  src/test/features/link.feature
  src/test/features/steps/steps.ts
Due: none

Don't link pnpm-lock.yaml
  .prettierignore
Due: none

Add a cucumber runner of playwright (#9)
  .github/workflows/build.yaml
  .prettierignore
  cucumber.js
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/test/features/backlinks.feature
  src/test/features/link.feature
  src/test/features/steps/steps.ts
  src/test/features/support/common.ts
  src/test/features/support/world.ts
  tsconfig.json
Due: none

Switch off headless from env variable
  playwright.config.ts
  src/test/features/support/common.ts
Due: none

Simplify server-test invocation
  package.json
Due: none

Remove explicit world configuration - it happens by default
  src/test/features/support/common.ts
  src/test/features/support/world.ts
Due: none

backlinks now as features
  src/test/features/backlink.feature
Due: none

Cucumber tidy up (#10)
  package.json
  playwright.config.ts
  src/test/features/backlink.feature
  src/test/features/support/common.ts
  src/test/features/support/world.ts
Due: none

Ignore README from backlinks
  src/pages/[[...name]].tsx
Due: prettier --write ., eslint

Tweak code style
  src/styles/globals.css
Due: none

Ignore README in backlinks ; refine styling of code blocks (#11)
  src/pages/[[...name]].tsx
  src/styles/globals.css
Due: prettier --write ., eslint

fix: padding not margin
  src/pages/_app.tsx
Due: prettier --write ., eslint

feat: add code style with hightlight.js
  package.json
  pnpm-lock.yaml
  src/lib/markdownToHtml.ts
  src/pages/_app.tsx
Due: prettier --write ., eslint
