Repository ianhomer/digital-garden: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

.lintstagedrc:

{
  "*.{css,ts,tsx,md}": "prettier --write .",
  "*.{cjs, ts,tsx}": "eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix"
}

Add JSON to prettier lint staged rc
  .lintstagedrc
Due: none

refactor: move end-to-end test in mono package (#24)
  .lintstagedrc
  package.json
  packages/end-to-end/cucumber.cjs
  packages/end-to-end/package.json
  packages/end-to-end/playwright.config.mjs
  packages/end-to-end/src/test/e2e/backlink.spec.mjs
  packages/end-to-end/src/test/e2e/link.spec.mjs
  packages/end-to-end/src/test/features/backlink.feature
  packages/end-to-end/src/test/features/link.feature
  packages/end-to-end/src/test/features/steps/steps.ts
  packages/end-to-end/src/test/features/support/common.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

fix: mono refactoring corrections
  jest.config.js
  next.config.cjs
  packages/end-to-end/cucumber.js
  packages/end-to-end/playwright.config.js
  packages/end-to-end/src/test/features/support/common.ts
  postcss.config.js
  tsconfig.json
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

rename mjs files back to js files
  packages/end-to-end/package.json
  packages/end-to-end/src/test/e2e/backlink.spec.js
  packages/end-to-end/src/test/e2e/link.spec.js
Due: none

Change playwright js back to mjs files
  packages/end-to-end/package.json
  packages/end-to-end/playwright.config.mjs
  packages/end-to-end/src/test/e2e/backlink.spec.mjs
  packages/end-to-end/src/test/e2e/link.spec.mjs
Due: none

change next cjs back to js
  next.config.cjs
  postcss.config.js
Due: eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

change next cjs back to js (#26)
  next.config.cjs
  postcss.config.js
Due: eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

docs: vercel to pnpm
  README.md
Due: prettier --write .

docs: vercel to pnpm (#27)
  README.md
Due: prettier --write .

move site to package
  .lintstagedrc
  package.json
  packages/end-to-end/package.json
  packages/site/jest.config.cjs
  packages/site/next-env.d.ts
  packages/site/package.json
  packages/site/postcss.config.js
  packages/site/src/lib/content.ts
  packages/site/src/lib/find.ts
  packages/site/src/lib/garden/file.ts
  packages/site/src/lib/garden/garden.test.ts
  packages/site/src/lib/garden/garden.ts
  packages/site/src/lib/garden/markdown.test.ts
  packages/site/src/lib/garden/markdown.ts
  packages/site/src/lib/garden/meta.ts
  packages/site/src/lib/garden/prepare.ts
  packages/site/src/lib/garden/thing.test.ts
  packages/site/src/lib/garden/thing.ts
  packages/site/src/lib/markdownToHtml.ts
  packages/site/src/pages/[[...name]].tsx
  packages/site/src/pages/_app.tsx
  packages/site/src/scripts/pre-build.js
  packages/site/src/styles/globals.css
  packages/site/src/test/content/garden1/README.md
  packages/site/src/test/content/garden1/meta/vocabulary/vocabulary.md
  packages/site/src/test/content/garden1/meta/vocabulary/word.md
  packages/site/src/test/content/garden1/word/word-1.md
  packages/site/src/test/content/garden1/word/word-2.md
  packages/site/tailwind.config.js
  packages/site/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

remove husky from site package
  README.md
  packages/site/package.json
Due: prettier --write .

more to site package
  package.json
  packages/end-to-end/package.json
  packages/site/garden.config.js
  packages/site/package.json
  packages/site/src/lib/garden/garden.test.ts
Due: prettier --write .

wire up test:build
  package.json
Due: none

wire build:prepare into CI
  .github/workflows/build.yaml
Due: none

feat : move site to a package in mono (#28)
  .github/workflows/build.yaml
  .lintstagedrc
  README.md
  package.json
  packages/end-to-end/package.json
  packages/site/garden.config.js
  packages/site/jest.config.cjs
  packages/site/next-env.d.ts
  packages/site/package.json
  packages/site/postcss.config.js
  packages/site/src/lib/content.ts
  packages/site/src/lib/find.ts
  packages/site/src/lib/garden/file.ts
  packages/site/src/lib/garden/garden.test.ts
  packages/site/src/lib/garden/garden.ts
  packages/site/src/lib/garden/markdown.test.ts
  packages/site/src/lib/garden/markdown.ts
  packages/site/src/lib/garden/meta.ts
  packages/site/src/lib/garden/prepare.ts
  packages/site/src/lib/garden/thing.test.ts
  packages/site/src/lib/garden/thing.ts
  packages/site/src/lib/markdownToHtml.ts
  packages/site/src/pages/[[...name]].tsx
  packages/site/src/pages/_app.tsx
  packages/site/src/scripts/pre-build.js
  packages/site/src/styles/globals.css
  packages/site/src/test/content/garden1/README.md
  packages/site/src/test/content/garden1/meta/vocabulary/vocabulary.md
  packages/site/src/test/content/garden1/meta/vocabulary/word.md
  packages/site/src/test/content/garden1/word/word-1.md
  packages/site/src/test/content/garden1/word/word-2.md
  packages/site/tailwind.config.js
  packages/site/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

switch site to type module
  packages/site/garden.config.js
  packages/site/package.json
Due: none

Change post css config to JSON
  packages/site/postcss.config.js
  packages/site/postcss.config.json
Due: none

tailwind css as cjs file
  packages/site/postcss.config.json
  packages/site/tailwind.config.cjs
Due: eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

change pre-build script to esm
  packages/site/src/scripts/pre-build.js
Due: none

output thing count on page
  README.md
  packages/site/package.json
  packages/site/src/pages/[[...name]].tsx
  packages/site/src/scripts/pre-build.ts
  packages/site/src/styles/globals.css
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

meta file not found guard
  packages/site/src/lib/garden/garden.ts
Due: prettier --write .

Only output thing count for now
  packages/site/src/lib/garden/garden.ts
  packages/site/src/pages/[[...name]].tsx
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

log thing count when meta refreshes
  packages/site/src/lib/garden/garden.ts
Due: prettier --write .

hardening of meta generation
  packages/site/src/lib/garden/markdown.ts
  packages/site/src/scripts/pre-build.ts
Due: prettier --write .

handle refresh promise
  packages/site/src/scripts/pre-build.ts
Due: prettier --write .

feat: use garden meta on page (#29)
  README.md
  packages/site/package.json
  packages/site/src/lib/garden/garden.ts
  packages/site/src/lib/garden/markdown.ts
  packages/site/src/pages/[[...name]].tsx
  packages/site/src/scripts/pre-build.ts
  packages/site/src/styles/globals.css
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

add groovy language
  packages/site/src/lib/markdownToHtml.ts
  packages/site/src/test/content/garden1/language/languages.md
Due: prettier --write .

add properties language
  packages/site/src/lib/markdownToHtml.ts
  packages/site/src/test/content/garden1/language/languages.md
Due: prettier --write .

6 things now in unit test
  packages/site/src/lib/garden/garden.test.ts
Due: prettier --write .

6 things now
  packages/site/src/lib/garden/garden.test.ts
Due: prettier --write .

feat: support properties and groovy languages (#30)
  packages/site/src/lib/garden/garden.test.ts
  packages/site/src/lib/markdownToHtml.ts
  packages/site/src/test/content/garden1/language/languages.md
Due: prettier --write .
