Repository ianhomer/digital-garden: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix

♻️ rename thing to name in builder API
  packages/core/src/builder.test.ts
  packages/core/src/builder.ts
  packages/graph/src/feature/special-naming.test.ts
Due: prettier --write ., eslint --fix

♻️ remove MetaMap since it is same as Things
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
Due: prettier --write ., eslint --fix

♻️ use builder for garden test
  packages/core/src/builder.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/thing.test.ts
Due: prettier --write ., eslint --fix

♻️ move loadThing into repository interface
  packages/garden/src/base-garden-repository.ts
  packages/garden/src/garden.ts
  packages/types/src/index.ts
Due: prettier --write ., eslint --fix

♻️ refactor toThing to make testing easier
  packages/garden/src/base-garden-repository.ts
  packages/garden/src/garden.test.ts
  packages/types/src/index.ts
Due: prettier --write ., eslint --fix

♻️ expand on builder usage (#183)
  packages/core/src/builder.test.ts
  packages/core/src/builder.ts
  packages/garden/src/base-garden-repository.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/garden/src/thing.test.ts
  packages/graph/src/feature/special-naming.test.ts
  packages/types/src/index.ts
Due: prettier --write ., eslint --fix

🐛 ignore unknown code block languages (#184)
  packages/markdown/babel.config.cjs
  packages/markdown/jest.config.cjs
  packages/markdown/package.json
  packages/markdown/src/feature/missing-lanaguage.test.ts
  packages/markdown/src/markdownToHtml.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

✨ render item with duplicate name
  packages/core/src/builder.ts
  packages/core/src/hash.ts
  packages/core/src/link.ts
  packages/garden/src/base-garden-repository.ts
  packages/garden/src/content.ts
  packages/garden/src/file-garden-repository.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/garden/src/markdown.ts
  packages/garden/src/page.test.ts
  packages/test-gardens/content/garden2/word/garden2-word.md
  packages/types/src/index.ts
Due: prettier --write ., eslint --fix

✅ address issues identified by tests
  packages/core/src/link.ts
  packages/garden/src/feature/exceptional-things.test.ts
  packages/garden/src/file-garden-repository.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/page.test.ts
Due: prettier --write ., eslint --fix

🐛 use builder for react test
  packages/react/src/graph-diagram.test.tsx
Due: prettier --write ., eslint --fix

💚 don't build garden package
  packages/garden/package.json
Due: prettier --write .

✨ render item with duplicate name (#185)
  packages/core/src/builder.ts
  packages/core/src/hash.test.ts
  packages/core/src/hash.ts
  packages/core/src/index.ts
  packages/core/src/link.ts
  packages/garden/src/base-garden-repository.ts
  packages/garden/src/content.ts
  packages/garden/src/feature/exceptional-things.test.ts
  packages/garden/src/file-garden-repository.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/markdown.ts
  packages/garden/src/page.test.ts
  packages/react/src/graph-diagram.test.tsx
  packages/test-gardens/content/garden2/word/README.md
  packages/test-gardens/content/garden2/word/garden2-word.md
  packages/types/src/index.ts
Due: prettier --write ., eslint --fix

✅ e2e assertion for duplicate name handling
  packages/end-to-end/src/test/features/duplicate-names.feature
Due: none

⚡️ only generate hashed name for entries that have duplicate namings
  packages/core/src/link.ts
  packages/garden/src/base-item.ts
  packages/garden/src/content.ts
  packages/garden/src/file-garden-repository.ts
  packages/garden/src/page.ts
  packages/types/src/index.ts
Due: prettier --write ., eslint --fix

🚨 pass item ref into base item constructor
  packages/garden/src/base-garden-repository.ts
Due: prettier --write ., eslint --fix

✅ unnecessary hashed names are now removed
  packages/garden/src/page.test.ts
Due: prettier --write ., eslint --fix

⚡️ only generate hashed name for entries that have duplicate namings (#186)
  packages/core/src/link.ts
  packages/end-to-end/src/test/features/duplicate-names.feature
  packages/garden/src/base-garden-repository.ts
  packages/garden/src/base-item.ts
  packages/garden/src/content.ts
  packages/garden/src/file-garden-repository.ts
  packages/garden/src/page.test.ts
  packages/garden/src/page.ts
  packages/types/src/index.ts
Due: prettier --write ., eslint --fix

🐛 correct patching from changed local file
  packages/garden/src/file-garden-repository.test.ts
  packages/garden/src/file-garden-repository.ts
Due: prettier --write ., eslint --fix

🐛 normalise filename without leading slash
  packages/garden/src/file-garden-repository.test.ts
  packages/garden/src/file-garden-repository.ts
Due: prettier --write ., eslint --fix

🐛 correct patching from changed local file (#187)
  packages/garden/src/file-garden-repository.test.ts
  packages/garden/src/file-garden-repository.ts
Due: prettier --write ., eslint --fix

📝 readme tweak
  README.md
Due: prettier --write .

📝 simplify readme introduction (#188)
  README.md
Due: prettier --write .

📝 reorder readme
  README.md
Due: prettier --write .

📝 link to the deployment of the test garden
  README.md
Due: prettier --write .

📝 move image up page
  README.md
Due: prettier --write .

📝 reorder content in readme (#189)
  README.md
Due: prettier --write .

💄 serif font
  packages/site/src/pages/[[...name]].tsx
  packages/site/src/styles/globals.css
Due: prettier --write ., eslint --fix

💄 more emphasis on depth 1 and depth 2 nodes in graph
  packages/site/src/styles/globals.css
Due: prettier --write .

start of demo garden
  package.json
  packages/demo-gardens/content/demo/README.md
  packages/demo-gardens/content/demo/philosophers/aristotle.md
  packages/demo-gardens/content/demo/philosophers/plato.md
Due: prettier --write .

Add confuscius
  packages/demo-gardens/content/demo/philosophers/aristotle.md
  packages/demo-gardens/content/demo/philosophers/confucius.md
  packages/demo-gardens/content/demo/philosophers/plato.md
Due: prettier --write .

more philosophers
  packages/demo-gardens/content/demo/philosophers/aristotle.md
  packages/demo-gardens/content/demo/philosophers/confucius.md
  packages/demo-gardens/content/demo/philosophers/david-hume.md
  packages/demo-gardens/content/demo/philosophers/friedrich-nietzsche.md
  packages/demo-gardens/content/demo/philosophers/immanuel-kant.md
  packages/demo-gardens/content/demo/philosophers/jean-jacques-rousseau.md
  packages/demo-gardens/content/demo/philosophers/jean-paul-sartre.md
  packages/demo-gardens/content/demo/philosophers/john-locke.md
  packages/demo-gardens/content/demo/philosophers/john-stuart-mill.md
  packages/demo-gardens/content/demo/philosophers/karl-marx.md
  packages/demo-gardens/content/demo/philosophers/lao-tzu.md
  packages/demo-gardens/content/demo/philosophers/niccolo-machiavelli.md
  packages/demo-gardens/content/demo/philosophers/plato.md
  packages/demo-gardens/content/demo/philosophers/rene-descartes.md
  packages/demo-gardens/content/demo/philosophers/socrates.md
Due: prettier --write .

meta content
  packages/demo-gardens/content/demo/meta/bce.md
  packages/demo-gardens/content/demo/meta/philospher.md
  packages/graph/src/default-configuration.ts
  packages/graph/src/render.ts
Due: prettier --write ., eslint --fix

improve demo site
  packages/demo-gardens/content/demo/meta/philosopher.md
  packages/demo-gardens/content/demo/philosophers/lao-tzu.md
  packages/demo-gardens/content/demo/philosophers/socrates.md
  packages/graph/src/default-configuration.ts
Due: prettier --write ., eslint --fix

Refine demo site (#190)
  package.json
  packages/demo-gardens/content/demo/README.md
  packages/demo-gardens/content/demo/meta/bce.md
  packages/demo-gardens/content/demo/meta/philosopher.md
  packages/demo-gardens/content/demo/philosophers/aristotle.md
  packages/demo-gardens/content/demo/philosophers/confucius.md
  packages/demo-gardens/content/demo/philosophers/david-hume.md
  packages/demo-gardens/content/demo/philosophers/friedrich-nietzsche.md
  packages/demo-gardens/content/demo/philosophers/immanuel-kant.md
  packages/demo-gardens/content/demo/philosophers/jean-jacques-rousseau.md
  packages/demo-gardens/content/demo/philosophers/jean-paul-sartre.md
  packages/demo-gardens/content/demo/philosophers/john-locke.md
  packages/demo-gardens/content/demo/philosophers/john-stuart-mill.md
  packages/demo-gardens/content/demo/philosophers/karl-marx.md
  packages/demo-gardens/content/demo/philosophers/lao-tzu.md
  packages/demo-gardens/content/demo/philosophers/niccolo-machiavelli.md
  packages/demo-gardens/content/demo/philosophers/plato.md
  packages/demo-gardens/content/demo/philosophers/rene-descartes.md
  packages/demo-gardens/content/demo/philosophers/socrates.md
  packages/graph/src/default-configuration.ts
  packages/graph/src/render.ts
Due: prettier --write ., eslint --fix

♻️ move fake name generator into it's own file
  packages/core/src/builder.ts
  packages/core/src/fake.ts
Due: prettier --write ., eslint --fix

✨ normalise accented characters in link normalisation
  packages/core/src/hash.ts
  packages/core/src/link.test.ts
  packages/core/src/link.ts
Due: prettier --write ., eslint --fix

♻️ describe toParentName function's purpose
  packages/core/src/link.ts
Due: prettier --write ., eslint --fix

comment for safe front matter side effect
  packages/garden/src/base-garden-repository.ts
  packages/garden/src/base-item.ts
Due: prettier --write ., eslint --fix

♻️ move common unique logic to core package
  packages/core/src/arrays.test.ts
  packages/core/src/arrays.ts
  packages/core/src/index.ts
  packages/garden/src/garden.ts
  packages/garden/src/nlp.ts
Due: prettier --write ., eslint --fix

♻️ new year code care (#191)
  packages/core/src/arrays.test.ts
  packages/core/src/arrays.ts
  packages/core/src/builder.ts
  packages/core/src/fake.ts
  packages/core/src/hash.ts
  packages/core/src/index.ts
  packages/core/src/link.test.ts
  packages/core/src/link.ts
  packages/garden/src/base-garden-repository.ts
  packages/garden/src/base-item.ts
  packages/garden/src/garden.ts
  packages/garden/src/nlp.ts
Due: prettier --write ., eslint --fix

Path conditions:
  prettier --write .: any of: *.{cjs,css,js,json,ts,tsx,md}
  eslint --fix: any of: *.{cjs,js,ts,tsx}
