Repository ianhomer/digital-garden: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix

Rename interface namings from thing to item
  packages/core/src/builder.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/garden/src/markdown.ts
  packages/graph/src/default-configuration.ts
  packages/graph/src/find-deep-links.ts
  packages/graph/src/graph.ts
  packages/graph/src/item-name.ts
  packages/graph/src/render.test.ts
  packages/graph/src/render.ts
  packages/graph/src/types.ts
  packages/react/src/graph-diagram.tsx
  packages/site/src/components/ItemPage.tsx
  packages/types/src/index.ts
Due: prettier --write ., eslint --fix

Use LinkType from @garden/types
  packages/graph/src/default-configuration.ts
  packages/graph/src/types.ts
Due: prettier --write ., eslint --fix

Improve semantics of interface names (#240)
  packages/core/src/builder.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/garden/src/links.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/markdown.ts
  packages/garden/src/nlp.ts
  packages/graph/src/default-configuration.ts
  packages/graph/src/find-deep-links.ts
  packages/graph/src/graph.ts
  packages/graph/src/item-name.ts
  packages/graph/src/render.test.ts
  packages/graph/src/render.ts
  packages/react/src/graph-diagram.tsx
  packages/site/src/components/ItemPage.tsx
  packages/site/src/pages/x/stats.tsx
  packages/types/src/index.ts
Due: prettier --write ., eslint --fix

Rename graph package to visualisation
  packages/react/package.json
  packages/react/src/graph-visualisation.test.tsx
  packages/react/src/graph-visualisation.tsx
  packages/react/src/index.ts
  packages/visualisation-standalone/babel.config.cjs
  packages/visualisation-standalone/jest.config.cjs
  packages/visualisation-standalone/package-lock.json
  packages/visualisation-standalone/package.json
  packages/visualisation-standalone/src/index.html
  packages/visualisation-standalone/src/standalone-graph.test.ts
  packages/visualisation-standalone/tsconfig.json
  packages/visualisation/babel.config.cjs
  packages/visualisation/jest.config.cjs
  packages/visualisation/package.json
  packages/visualisation/rollup.config.js
  packages/visualisation/src/collide-rectangle.ts
  packages/visualisation/src/default-configuration.ts
  packages/visualisation/src/feature/limit-depth.test.ts
  packages/visualisation/src/feature/special-naming.test.ts
  packages/visualisation/src/find-deep-links.ts
  packages/visualisation/src/graph.ts
  packages/visualisation/src/index.ts
  packages/visualisation/src/item-name.ts
  packages/visualisation/src/render.test.ts
  packages/visualisation/src/render.ts
  packages/visualisation/src/types.ts
  packages/visualisation/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

Lint
  packages/visualisation-standalone/src/index.html
Due: none

Still export builder from visualisation (for now)
  packages/visualisation-standalone/src/index.html
  packages/visualisation/src/index.ts
Due: prettier --write ., eslint --fix

Rename graph package to visualisation (#241)
  packages/react/package.json
  packages/react/src/graph-visualisation.test.tsx
  packages/react/src/graph-visualisation.tsx
  packages/react/src/index.ts
  packages/visualisation-standalone/babel.config.cjs
  packages/visualisation-standalone/jest.config.cjs
  packages/visualisation-standalone/package-lock.json
  packages/visualisation-standalone/package.json
  packages/visualisation-standalone/src/index.html
  packages/visualisation-standalone/src/standalone-graph.test.ts
  packages/visualisation-standalone/tsconfig.json
  packages/visualisation/babel.config.cjs
  packages/visualisation/jest.config.cjs
  packages/visualisation/package.json
  packages/visualisation/rollup.config.js
  packages/visualisation/src/collide-rectangle.ts
  packages/visualisation/src/default-configuration.ts
  packages/visualisation/src/feature/limit-depth.test.ts
  packages/visualisation/src/feature/special-naming.test.ts
  packages/visualisation/src/find-deep-links.ts
  packages/visualisation/src/graph.ts
  packages/visualisation/src/index.ts
  packages/visualisation/src/item-name.ts
  packages/visualisation/src/render.test.ts
  packages/visualisation/src/render.ts
  packages/visualisation/src/types.ts
  packages/visualisation/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

babel config for graph package
  packages/graph/babel.config.cjs
Due: prettier --write ., eslint --fix

Correct imports for visualisation tests
  packages/visualisation/src/feature/limit-depth.test.ts
  packages/visualisation/src/feature/special-naming.test.ts
  packages/visualisation/src/render.test.ts
Due: prettier --write ., eslint --fix

Correct import in garden tests for graph package
  packages/garden/src/garden.test.ts
  packages/garden/src/markdown.test.ts
Due: prettier --write ., eslint --fix

Remove rollup build for graph package
  packages/graph/package.json
Due: prettier --write .

Improve styling of standalone garden visualisation
  packages/visualisation-standalone/src/index.html
Due: none

Rename visualisation to linkmap
  packages/linkmap-standalone/babel.config.cjs
  packages/linkmap-standalone/jest.config.cjs
  packages/linkmap-standalone/package-lock.json
  packages/linkmap-standalone/package.json
  packages/linkmap-standalone/src/index.html
  packages/linkmap-standalone/src/standalone-graph.test.ts
  packages/linkmap-standalone/tsconfig.json
  packages/linkmap/babel.config.cjs
  packages/linkmap/jest.config.cjs
  packages/linkmap/package.json
  packages/linkmap/rollup.config.js
  packages/linkmap/src/collide-rectangle.ts
  packages/linkmap/src/default-configuration.ts
  packages/linkmap/src/feature/limit-depth.test.ts
  packages/linkmap/src/feature/special-naming.test.ts
  packages/linkmap/src/find-deep-links.ts
  packages/linkmap/src/graph.ts
  packages/linkmap/src/index.ts
  packages/linkmap/src/item-name.ts
  packages/linkmap/src/render.test.ts
  packages/linkmap/src/render.ts
  packages/linkmap/src/types.ts
  packages/linkmap/tsconfig.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/react/src/react-linkmap.test.tsx
  packages/react/src/react-linkmap.tsx
  packages/site/src/components/ItemPage.tsx
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

Lint
  packages/linkmap-standalone/src/index.html
Due: none

Change bundle name to linkmap
  packages/linkmap-standalone/src/standalone-linkmap.test.ts
  packages/linkmap/rollup.config.js
Due: prettier --write ., eslint --fix

Rename visualistion to linkmap (#243)
  packages/linkmap-standalone/babel.config.cjs
  packages/linkmap-standalone/jest.config.cjs
  packages/linkmap-standalone/package-lock.json
  packages/linkmap-standalone/package.json
  packages/linkmap-standalone/src/index.html
  packages/linkmap-standalone/src/standalone-linkmap.test.ts
  packages/linkmap-standalone/tsconfig.json
  packages/linkmap/babel.config.cjs
  packages/linkmap/jest.config.cjs
  packages/linkmap/package.json
  packages/linkmap/rollup.config.js
  packages/linkmap/src/collide-rectangle.ts
  packages/linkmap/src/default-configuration.ts
  packages/linkmap/src/feature/limit-depth.test.ts
  packages/linkmap/src/feature/special-naming.test.ts
  packages/linkmap/src/find-deep-links.ts
  packages/linkmap/src/graph.ts
  packages/linkmap/src/index.ts
  packages/linkmap/src/item-name.ts
  packages/linkmap/src/render.test.ts
  packages/linkmap/src/render.ts
  packages/linkmap/src/types.ts
  packages/linkmap/tsconfig.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/react/src/react-linkmap.test.tsx
  packages/react/src/react-linkmap.tsx
  packages/site/src/components/ItemPage.tsx
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

Rename things to items
  packages/graph/README.md
  packages/graph/src/builder.test.ts
Due: prettier --write ., eslint --fix

Rename things to items (#244)
  packages/graph/README.md
  packages/graph/src/builder.test.ts
Due: prettier --write ., eslint --fix

⬆️ upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write .

🚨 Lints after package upgrades
  package.json
  packages/garden/src/garden.ts
  packages/site/package.json
Due: prettier --write ., eslint --fix

⬆️ upgrade packages (#245)
  package.json
  packages/garden/src/garden.ts
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

Provide ability to include articles with given tag from env variable
  README.md
  packages/garden/src/feature/excluded-tags.test.ts
  packages/garden/src/feature/included-tags.test.ts
  packages/garden/src/garden.ts
Due: prettier --write ., eslint --fix

🚨 lint
  packages/garden/src/garden.ts
Due: prettier --write ., eslint --fix

Provide ability to include articles with given tag from env variable (#246)
  README.md
  packages/garden/src/feature/excluded-tags.test.ts
  packages/garden/src/feature/included-tags.test.ts
  packages/garden/src/garden.ts
Due: prettier --write ., eslint --fix

📝 Correct includes env variable in README
  README.md
Due: prettier --write .

Increase max nodes in graph and move to configuration parameter
  .husky/pre-commit
  packages/linkmap/src/default-configuration.ts
  packages/linkmap/src/find-deep-links.ts
  packages/linkmap/src/render.ts
  packages/linkmap/src/types.ts
Due: prettier --write ., eslint --fix

Increase max nodes in graph and move to configuration parameter (#247)
  .husky/pre-commit
  packages/linkmap/src/default-configuration.ts
  packages/linkmap/src/find-deep-links.ts
  packages/linkmap/src/render.ts
  packages/linkmap/src/types.ts
Due: prettier --write ., eslint --fix

fix: remove deprecated husky install
  package.json
Due: prettier --write .

Path conditions:
  prettier --write .: any of: *.{cjs,css,js,json,ts,tsx,md}
  eslint --fix: any of: *.{cjs,js,ts,tsx}
