Repository ianhomer/digital-garden: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

.lintstagedrc:

{
  "*.{cjs,css,js,json,ts,tsx,md}": "prettier --write .",
  "*.{cjs,js,ts,tsx}": "eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix"
}

Set value on links if thing value is 0
  packages/site/package.json
  packages/site/src/lib/garden/garden.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

Don't include zero value links
  packages/site/src/lib/garden/garden.ts
  packages/site/src/lib/garden/gardenGraph.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: hide non-valuable links (#57)
  packages/site/package.json
  packages/site/src/lib/garden/garden.test.ts
  packages/site/src/lib/garden/garden.ts
  packages/site/src/lib/garden/gardenGraph.ts
  packages/site/src/test/content/garden1/archive/archived-thing.md
  packages/site/src/test/content/garden1/word/archive-linked.md
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

refactor: move function to a library
  .gitignore
  packages/garden/babel.config.cjs
  packages/garden/package.json
  packages/garden/src/file.test.ts
  packages/garden/src/file.ts
  packages/garden/tsconfig.json
  packages/site/package.json
  packages/site/src/lib/garden/garden.ts
  packages/site/src/pages/[[...name]].tsx
  packages/test-gardens/content/garden2/README.md
  packages/test-gardens/content/garden2/word/garden2-word.md
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

transpile ts library
  packages/site/next.config.js
  packages/site/package.json
  packages/site/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

refactor: enhance deep file check
  packages/garden/src/file.test.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

refactor: :fire: simplify tsconfig
  packages/garden/tsconfig.json
Due: prettier --write .

refactor : move a single function to library to start the modularisation (#58)
  .gitignore
  packages/garden/babel.config.cjs
  packages/garden/package.json
  packages/garden/src/file.test.ts
  packages/garden/src/file.ts
  packages/garden/tsconfig.json
  packages/site/next.config.js
  packages/site/package.json
  packages/site/src/lib/garden/garden.ts
  packages/site/src/pages/[[...name]].tsx
  packages/test-gardens/content/garden2/README.md
  packages/test-gardens/content/garden2/word/garden2-word.md
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

Split out types and graph packages
  packages/garden/jest.config.cjs
  packages/garden/package.json
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/garden/src/index.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/markdown.ts
  packages/garden/src/prepare.ts
  packages/garden/src/thing.test.ts
  packages/garden/src/thing.ts
  packages/garden/tsconfig.json
  packages/graph/package.json
  packages/graph/src/graph.ts
  packages/graph/src/index.ts
  packages/graph/tsconfig.json
  packages/site/garden.config.js
  packages/site/next.config.js
  packages/site/package.json
  packages/site/src/lib/content.ts
  packages/site/src/pages/[[...name]].tsx
  packages/site/src/scripts/pre-build.ts
  packages/test-gardens/content/garden1/README.md
  packages/test-gardens/content/garden1/archive/archived-thing.md
  packages/test-gardens/content/garden1/language/languages.md
  packages/test-gardens/content/garden1/meta/vocabulary/vocabulary.md
  packages/test-gardens/content/garden1/meta/vocabulary/word.md
  packages/test-gardens/content/garden1/word/archive-linked.md
  packages/test-gardens/content/garden1/word/word-1.md
  packages/test-gardens/content/garden1/word/word-2.md
  packages/test-gardens/content/garden1/word/word-3.md
  packages/test-gardens/content/garden1/word/word-4.md
  packages/types/package.json
  packages/types/src/index.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

refactor: wire in types package
  packages/site/src/lib/content.ts
  packages/site/src/lib/graph/graph.ts
  packages/site/src/lib/graph/types.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

correct unit test execution
  README.md
  package.json
  packages/garden/package.json
  packages/garden/src/garden.test.ts
  packages/graph/babel.config.cjs
  packages/graph/package.json
  packages/graph/src/graph.test.ts
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

test: correct e2e test wiring
  package.json
  packages/site/package.json
Due: prettier --write .

test: extend test timeout
  packages/end-to-end/playwright.config.mjs
Due: none

test: disable e2e test for now
  .github/workflows/build.yaml
Due: none

build: add missing peers
  package.json
  packages/garden/package.json
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write .

refactor: stricter typings
  packages/garden/src/file.ts
  packages/garden/src/garden.ts
  packages/types/src/index.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

refactor: remove unused
  packages/garden/src/garden.ts
  packages/garden/src/prepare.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

build: warn on typescript any
  .eslintrc.json
Due: prettier --write .

refactor : package linting (#60)
  .eslintrc.json
  package.json
  packages/garden/package.json
  packages/garden/src/file.ts
  packages/garden/src/garden.ts
  packages/garden/src/prepare.ts
  packages/site/package.json
  packages/types/src/index.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

build: re-enable end to end tests
  .github/workflows/build.yaml
Due: none

build: prepare before e2e
  .github/workflows/build.yaml
  packages/site/package.json
Due: prettier --write .

build: set up cucumber in end-to-end package
  packages/end-to-end/package.json
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write .

build: update pnpm lock
  pnpm-lock.yaml
Due: none

build: add babel/core to graph package
  packages/graph/package.json
  pnpm-lock.yaml
Due: prettier --write .

build : enable end to end tests (#61)
  .github/workflows/build.yaml
  packages/end-to-end/package.json
  packages/graph/package.json
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write .

fix: all links were made made non-valuable
  packages/garden/src/garden.ts
  packages/graph/src/graph.ts
  packages/site/src/pages/[[...name]].tsx
  packages/test-gardens/content/garden2/README.md
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

fix: link value undefined default test
  packages/garden/src/file.test.ts
  packages/garden/src/garden.test.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

fix: graph not shown due to link value bug (#62)
  packages/garden/src/file.test.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/graph/src/graph.ts
  packages/site/src/pages/[[...name]].tsx
  packages/test-gardens/content/garden2/README.md
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

Experimental command line mode
  bin/garden.js
  package.json
  packages/site/garden.config.js
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

experiment with calling dev CLI
  package.json
  packages/site/bin/garden.js
  packages/site/package.json
  packages/site/patch/dev.d.ts
  packages/site/patch/dev.js
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

Local garden CLI
  packages/site/bin/garden.cjs
  packages/site/bin/garden.js
  packages/site/package.json
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

Add x/all
  packages/site/src/pages/x/all.tsx
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

unique sorted list of all
  packages/site/src/pages/x/all.tsx
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix
