Repository ianhomer/digital-garden: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint

.lintstagedrc:

{
  "*.{tsx,md}": "prettier --write .",
  "*.tsx": "eslint"
}

Render wiki links
  package.json
  pnpm-lock.yaml
  src/lib/markdownToHtml.ts
  src/pages/[name].tsx
  src/styles/globals.css
Due: prettier --write ., eslint

Simpler permalinks
  pnpm-lock.yaml
  src/lib/markdownToHtml.ts
Due: none

Improve styling
  src/lib/markdownToHtml.ts
  src/pages/_app.tsx
  src/styles/globals.css
  tailwind.config.js
Due: prettier --write ., eslint

Support wiki links (#3)
  package.json
  pnpm-lock.yaml
  src/lib/markdownToHtml.ts
  src/pages/[name].tsx
  src/pages/_app.tsx
  src/styles/globals.css
  tailwind.config.js
Due: prettier --write ., eslint

Remove boxofjam submodule
  .gitmodules
Due: none

Start of garden pre-build script
  garden.config.js
  package.json
  src/scripts/pre-build.js
Due: none

Set up prebuild step
  .gitignore
  package.json
  src/scripts/pre-build.js
Due: none

Linting
  garden.config.js
  package.json
  src/scripts/pre-build.js
Due: none

Explicitly call prebuild in action
  .github/workflows/build.yaml
Due: none

Fetch markdown content with prebuild not submodule (#4)
  .github/workflows/build.yaml
  .gitignore
  .gitmodules
  garden.config.js
  package.json
  src/scripts/pre-build.js
Due: none

Support symbolic links for local
  src/lib/find.ts
Due: none

Update README
  README.md
Due: prettier --write .

Take index page from README
  src/lib/content.ts
  src/pages/[[...name]].tsx
  src/pages/index.tsx
Due: prettier --write ., eslint

Follow symbolic links in backlink search
  src/lib/content.ts
Due: none

Sort back links
  src/lib/content.ts
Due: none

Increase margin of container
  src/pages/_app.tsx
Due: prettier --write ., eslint

Lint:fix
  src/lib/content.ts
Due: none

Refine local dev mode (#5)
  README.md
  src/lib/content.ts
  src/lib/find.ts
  src/pages/[[...name]].tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Due: prettier --write ., eslint

Experiment with finding implicit-back-links
  src/lib/content.ts
  src/lib/find.ts
  src/pages/[[...name]].tsx
Due: prettier --write ., eslint

Implicit back links returned
  src/lib/content.ts
  src/lib/find.ts
Due: none

Merge implicit and explicit backlinks
  src/pages/[[...name]].tsx
Due: prettier --write ., eslint

implicit back links
  src/lib/content.ts
  src/lib/find.ts
  src/pages/[[...name]].tsx
Due: prettier --write ., eslint

Allow gardens directory to be configured
  .gitignore
  garden.config.js
  package.json
  pnpm-lock.yaml
  src/lib/content.ts
  src/pages/[[...name]].tsx
  test/content/garden1/README.md
Due: prettier --write ., eslint

Linting
  pnpm-lock.yaml
  src/lib/content.ts
Due: none

Add a little more test content
  garden.config.js
  test/content/garden1/README.md
  test/content/garden1/lesson/lesson-1.md
  test/content/garden1/meta/vocabulary/lesson.md
  test/content/garden1/meta/vocabulary/vocabulary.md
Due: prettier --write .

Add playwrite dependencies
  cucumber.js
  package.json
  pnpm-lock.yaml
  test/content/garden1/README.md
  test/content/garden1/lesson/lesson-1.md
  test/content/garden1/meta/vocabulary/lesson.md
  test/content/garden1/meta/vocabulary/vocabulary.md
  test/content/garden1/meta/vocabulary/word.md
  test/content/garden1/word/word-1.md
  test/content/garden1/word/word-2.md
Due: prettier --write .

pnpm lock
  pnpm-lock.yaml
Due: none

Linting
  src/lib/content.ts
Due: none

Linting (#7)
  src/lib/content.ts
Due: none
