Repository ianhomer/digital-garden: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix

📝 document the SCRIPTS env variable usage
  README.md
Due: prettier --write .

⬆️ upgrade actions
  .github/workflows/build.yaml
  pnpm-lock.yaml
Due: none

⬆️ upgrade actions (#192)
  .github/workflows/build.yaml
  pnpm-lock.yaml
Due: none

⬆️ Upgrade top level packages
  package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ Upgrade top level packages (#193)
  package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ upgrade core packages
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ upgrade graph dependencies
  packages/graph/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ upgrade react and end-to-end packages
  packages/end-to-end/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ Use playwright base image for e2e tests in actions
  .github/workflows/build.yaml
  packages/end-to-end/package.json
  pnpm-lock.yaml
Due: prettier --write .

📝 guidance on running tests
  README.md
Due: prettier --write .

Explicitly install playwrite deps
  .github/workflows/build.yaml
Due: none

⬆️ Upgrade core, react, graph and end-to-end packages (#194)
  .github/workflows/build.yaml
  README.md
  packages/core/package.json
  packages/end-to-end/package.json
  packages/graph/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ upgrade dev dependencies in garden
  packages/garden/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ upgrade dev dependencies in garden (#195)
  packages/garden/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ upgrade pino and mdast in garden
  packages/garden/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ Upgrade more low risk dependencies
  packages/graph-standalone/package.json
  packages/markdown/package.json
  packages/site/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write .

🔧 Move transpile packages out of experimental
  packages/site/next.config.js
Due: prettier --write ., eslint --fix

🐛 exclude zwitch from jest transform
  packages/markdown/jest.config.cjs
  packages/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

⬆️ upgrade typescript
  package.json
  packages/core/package.json
  packages/garden/package.json
  packages/graph-standalone/package.json
  packages/graph/package.json
  packages/markdown/package.json
  packages/react/package.json
  packages/site/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write .

🚨 change file name to kebab case
  packages/markdown/src/feature/missing-lanaguage.test.ts
  packages/markdown/src/index.ts
  packages/markdown/src/markdown-to-html.ts
Due: prettier --write ., eslint --fix

🚨 change file name to kebab case (#199)
  packages/markdown/src/feature/missing-lanaguage.test.ts
  packages/markdown/src/index.ts
  packages/markdown/src/markdown-to-html.ts
Due: prettier --write ., eslint --fix

⬆️ upgrade typescript (#200)
  package.json
  packages/core/package.json
  packages/garden/package.json
  packages/graph-standalone/package.json
  packages/graph/package.json
  packages/markdown/package.json
  packages/react/package.json
  packages/site/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ reset pnpm lock file
  pnpm-lock.yaml
Due: none

⬆️ Upgrade react and next minors
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ Upgrade react and next minors (#201)
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ upgrade jest abnd babel dependencies
  packages/graph-standalone/package.json
  packages/markdown/package.json
  packages/site/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ upgrade jest and babel dependencies (#202)
  packages/graph-standalone/package.json
  packages/markdown/package.json
  packages/site/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ upgrade babel and pino
  packages/garden/package.json
  packages/markdown/package.json
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ upgrade babel and pino (#203)
  packages/garden/package.json
  packages/markdown/package.json
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ update some markdown libraries
  packages/garden/package.json
  packages/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ update some markdown libraries (#204)
  packages/garden/package.json
  packages/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write .

✅ update to validate against new compromise update
  packages/garden/package.json
  packages/garden/src/feature/natural-alias.test.ts
  packages/garden/src/feature/natural-links.test.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/page.test.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

✅ update to validate against new compromise update (#205)
  packages/garden/package.json
  packages/garden/src/feature/natural-alias.test.ts
  packages/garden/src/feature/natural-links.test.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/page.test.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

🔧 lock emoji to a version 3.0.2
  packages/markdown/jest.config.cjs
  packages/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

🔧 lock emoji to a version 3.0.2 (#206)
  packages/markdown/jest.config.cjs
  packages/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

⬆️ Upgrade some dev dependencies to latest
  package.json
  packages/core/package.json
  packages/garden/package.json
  packages/graph-standalone/package.json
  packages/graph/package.json
  packages/react/package.json
  packages/site/package.json
  packages/test-gardens/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write .

🚨 lint based on new lint libraries
  package.json
  packages/core/src/builder.ts
  packages/core/src/fake.ts
  packages/garden/src/base-garden-repository.ts
  packages/garden/src/content.test.ts
  packages/garden/src/content.ts
  packages/garden/src/feature/explicit-links.test.ts
  packages/garden/src/feature/link-character.test.ts
  packages/garden/src/feature/natural-alias.test.ts
  packages/garden/src/feature/natural-links.test.ts
  packages/garden/src/file-garden-repository.test.ts
  packages/garden/src/file-garden-repository.ts
  packages/garden/src/find.test.ts
  packages/garden/src/find.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/garden/src/links.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/markdown.ts
  packages/garden/src/nlp.test.ts
  packages/garden/src/nlp.ts
  packages/garden/src/page.ts
  packages/garden/src/setupTests.ts
  packages/graph-standalone/src/index.html
  packages/graph-standalone/src/standalone-graph.test.ts
  packages/graph/src/default-configuration.ts
  packages/graph/src/find-deep-links.ts
  packages/graph/src/graph.ts
  packages/graph/src/render.test.ts
  packages/graph/src/render.ts
  packages/react/src/graph-diagram.test.tsx
  packages/react/src/use-key.ts
  packages/react/src/use-window-dimensions.ts
  packages/site/bin/garden.cjs
  packages/site/src/pages/x/stats.tsx
  packages/site/src/pages/x/wanted.tsx
  packages/types/src/index.ts
Due: prettier --write ., eslint --fix

Path conditions:
  prettier --write .: any of: *.{cjs,css,js,json,ts,tsx,md}
  eslint --fix: any of: *.{cjs,js,ts,tsx}
