Repository ianhomer/digital-garden: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix

🐛 emoji support back in
  packages/garden/src/file-garden-repository.test.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/page.test.ts
  packages/markdown/jest.config.js
  packages/markdown/package.json
  packages/markdown/src/markdown-to-html.ts
  packages/markdown/tsconfig.json
  packages/test-gardens/content/garden1/misc/emoji.md
Due: prettier --write ., eslint --fix

🐛 emoji support back in (#225)
  packages/garden/src/file-garden-repository.test.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/page.test.ts
  packages/markdown/jest.config.js
  packages/markdown/package.json
  packages/markdown/src/markdown-to-html.ts
  packages/markdown/tsconfig.json
  packages/test-gardens/content/garden1/misc/emoji.md
Due: prettier --write ., eslint --fix

♻️ garden package to ESM
  packages/garden/babel.config.cjs
  packages/garden/babel.config.json
  packages/garden/jest.config.js
  packages/garden/package.json
  packages/garden/src/garden.test.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/page.test.ts
  packages/test-gardens/content/garden1/frontmatter/frontmatter-with-tags.md
Due: prettier --write ., eslint --fix

🐛 keep main in package.json
  packages/garden/package.json
Due: prettier --write .

♻️ garden package to ESM (#226)
  packages/garden/babel.config.cjs
  packages/garden/babel.config.json
  packages/garden/jest.config.js
  packages/garden/src/garden.test.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/page.test.ts
  packages/test-gardens/content/garden1/frontmatter/frontmatter-with-tags.md
Due: prettier --write ., eslint --fix

✨ Exclude conten by tag
  packages/garden/src/base-garden-repository.ts
  packages/garden/src/base-item.ts
  packages/garden/src/feature/excluded-tags.test.ts
  packages/garden/src/file-garden-repository.ts
  packages/garden/src/garden.ts
  packages/garden/src/markdown.ts
  packages/types/src/index.ts
Due: prettier --write ., eslint --fix

✅ Call parse with content not string
  packages/garden/src/garden.test.ts
  packages/garden/src/markdown.test.ts
Due: prettier --write ., eslint --fix

🐛 correct tag filtering based on excludes in config
  packages/garden/src/base-garden-repository.ts
  packages/garden/src/content.ts
  packages/garden/src/file-garden-repository.ts
  packages/garden/src/garden.ts
  packages/garden/src/links.test.ts
  packages/garden/src/markdown.test.ts
  packages/test-gardens/content/garden1/word/word-historical.md
  packages/types/src/index.ts
Due: prettier --write ., eslint --fix

✨ Exclude content by tag (#227)
  packages/garden/src/base-garden-repository.ts
  packages/garden/src/base-item.ts
  packages/garden/src/content.ts
  packages/garden/src/feature/excluded-tags.test.ts
  packages/garden/src/file-garden-repository.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/garden/src/links.test.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/markdown.ts
  packages/test-gardens/content/garden1/word/word-historical.md
  packages/types/src/index.ts
Due: prettier --write ., eslint --fix

🔧 exclude articles tagged with stop and minor
  packages/garden/src/garden.ts
Due: prettier --write ., eslint --fix

✨ local config override
  packages/garden/src/garden.ts
  packages/site/src/pages/x/config.tsx
Due: prettier --write ., eslint --fix

✨ add count on all page
  packages/site/src/pages/x/all.tsx
Due: prettier --write ., eslint --fix

✨ Local config override (#228)
  packages/garden/src/garden.ts
  packages/site/src/pages/x/all.tsx
  packages/site/src/pages/x/config.tsx
Due: prettier --write ., eslint --fix

✨ encrypted static site
  README.md
  package.json
  packages/site/next.config.js
  packages/site/package.json
  packages/site/src/pages/[[...name]].tsx
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

🔧 exclude wanted things from build
  packages/garden/src/page.ts
  packages/site/src/pages/[[...name]].tsx
Due: prettier --write ., eslint --fix

🔧 ignore staticrypt config
  .gitignore
Due: none

✨ encrypted static site (#230)
  .gitignore
  README.md
  package.json
  packages/garden/src/page.ts
  packages/site/next.config.js
  packages/site/package.json
  packages/site/src/pages/[[...name]].tsx
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix

⚡️ dynamic wanted / 404 page
  packages/garden/src/garden.test.ts
  packages/garden/src/links.test.ts
  packages/garden/src/page.test.ts
  packages/garden/src/page.ts
  packages/site/package.json
  packages/site/src/components/ItemPage.tsx
  packages/site/src/pages/404.tsx
  packages/site/src/pages/[[...name]].tsx
  packages/site/src/pages/x/config.tsx
  packages/test-gardens/content/garden1/word/word-5.md
Due: prettier --write ., eslint --fix

💚 correct typing and function usage
  packages/site/src/pages/[[...name]].tsx
Due: prettier --write ., eslint --fix

⚡️ dynamic wanted / 404 page (#231)
  packages/garden/src/garden.test.ts
  packages/garden/src/links.test.ts
  packages/garden/src/page.test.ts
  packages/garden/src/page.ts
  packages/site/package.json
  packages/site/src/components/ItemPage.tsx
  packages/site/src/pages/404.tsx
  packages/site/src/pages/[[...name]].tsx
  packages/site/src/pages/x/config.tsx
  packages/test-gardens/content/garden1/word/word-5.md
Due: prettier --write ., eslint --fix

🔧 correct tailwind binding ; reduce graph depth ; improve static crypt readme
  README.md
  packages/graph/src/default-configuration.ts
  packages/site/tailwind.config.cjs
Due: prettier --write ., eslint --fix

🔧 correct tailwind binding ; reduce graph depth ; improve static crypt readme (#232)
  README.md
  packages/graph/src/default-configuration.ts
  packages/site/tailwind.config.cjs
Due: prettier --write ., eslint --fix

🔒️clean up data in out directory
  README.md
  packages/site/package.json
Due: prettier --write .

🔒️clean up data in out directory (#233)
  README.md
  packages/site/package.json
Due: prettier --write .

♻️ pattern for include exclude tag matcher
  packages/garden/src/base-garden-repository.test.ts
  packages/garden/src/base-garden-repository.ts
  packages/garden/src/feature/excluded-tags.test.ts
  packages/garden/src/file-garden-repository.ts
  packages/garden/src/garden.ts
  packages/site/src/pages/x/config.tsx
Due: prettier --write ., eslint --fix

🚨 correct type errors
  packages/garden/src/feature/feature-helpers.ts
  packages/garden/src/garden.test.ts
Due: prettier --write ., eslint --fix

Refactor publish include / exclude (#234)
  packages/garden/src/base-garden-repository.test.ts
  packages/garden/src/base-garden-repository.ts
  packages/garden/src/feature/excluded-tags.test.ts
  packages/garden/src/feature/feature-helpers.ts
  packages/garden/src/file-garden-repository.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/site/src/pages/x/config.tsx
Due: prettier --write ., eslint --fix

♻️ better tag matcher defaulting
  package.json
  packages/garden/src/base-garden-repository.test.ts
  packages/garden/src/garden.ts
Due: prettier --write ., eslint --fix

♻️ better tag matcher defaulting (#235)
  package.json
  packages/garden/src/base-garden-repository.test.ts
  packages/garden/src/garden.ts
Due: prettier --write ., eslint --fix

Upgrade packagres within ranges
  package.json
  packages/api/package.json
  packages/core/package.json
  packages/end-to-end/package.json
  packages/garden/package.json
  packages/graph-standalone/package.json
  packages/graph/package.json
  packages/markdown/package.json
  packages/react/package.json
  packages/site/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write .

Add @types/node needed for peer dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write .

Upgrade node versions in CI
  .github/workflows/build.yaml
Due: none

Upgrade node versions in CI and upgrade package minor versions (#236)
  .github/workflows/build.yaml
  package.json
  packages/api/package.json
  packages/core/package.json
  packages/end-to-end/package.json
  packages/garden/package.json
  packages/graph-standalone/package.json
  packages/graph/package.json
  packages/markdown/package.json
  packages/react/package.json
  packages/site/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write .

Upgrade packages to latest except for eslint
  package.json
  packages/core/package.json
  packages/end-to-end/package.json
  packages/garden/package.json
  packages/graph-standalone/package.json
  packages/graph/package.json
  packages/markdown/package.json
  packages/react/package.json
  packages/site/package.json
  packages/test-gardens/package.json
  pnpm-lock.yaml
Due: prettier --write .

Upgrade packages to latest except for eslint (#237)
  package.json
  packages/core/package.json
  packages/end-to-end/package.json
  packages/garden/package.json
  packages/graph-standalone/package.json
  packages/graph/package.json
  packages/markdown/package.json
  packages/react/package.json
  packages/site/package.json
  packages/test-gardens/package.json
  pnpm-lock.yaml
Due: prettier --write .

Rename types to be explicit extends from d3 datum
  packages/graph/src/collide-rectangle.ts
  packages/graph/src/default-configuration.ts
  packages/graph/src/index.ts
  packages/graph/src/render.ts
  packages/graph/src/types.ts
Due: prettier --write ., eslint --fix

Rename types to be explicit extends from d3 datum (#238)
  packages/graph/src/collide-rectangle.ts
  packages/graph/src/default-configuration.ts
  packages/graph/src/index.ts
  packages/graph/src/render.ts
  packages/graph/src/types.ts
Due: prettier --write ., eslint --fix

Narrow interface where datum not needed
  packages/graph/src/default-configuration.ts
  packages/graph/src/index.ts
  packages/graph/src/render.ts
  packages/graph/src/types.ts
Due: prettier --write ., eslint --fix

Narrow interface where datum not needed (#239)
  packages/graph/src/default-configuration.ts
  packages/graph/src/index.ts
  packages/graph/src/render.ts
  packages/graph/src/types.ts
Due: prettier --write ., eslint --fix

Change types with natural naming to implicit naming
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/garden/src/links.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/nlp.ts
  packages/graph/src/default-configuration.ts
  packages/graph/src/find-deep-links.ts
  packages/site/src/pages/x/stats.tsx
  packages/types/src/index.ts
Due: prettier --write ., eslint --fix

Path conditions:
  prettier --write .: any of: *.{cjs,css,js,json,ts,tsx,md}
  eslint --fix: any of: *.{cjs,js,ts,tsx}
