Repository ianhomer/digital-garden: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

.lintstagedrc:

{
  "*.{cjs,css,js,json,ts,tsx,md}": "prettier --write .",
  "*.{cjs,js,ts,tsx}": "eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix"
}

feat: export site
  .gitignore
  package.json
  packages/site/package.json
Due: prettier --write .

feat: export site (#85)
  .gitignore
  package.json
  packages/site/package.json
Due: prettier --write .

feat: trailing slashes in URLs
  packages/site/next.config.js
  packages/site/src/lib/markdownToHtml.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

test: expect forward slashes
  packages/end-to-end/src/test/e2e/backlink.spec.mjs
  packages/end-to-end/src/test/e2e/link.spec.mjs
  packages/site/src/pages/[[...name]].tsx
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

test: expect forward slash
  packages/end-to-end/src/test/features/steps/steps.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: slash at ends (#86)
  packages/end-to-end/src/test/e2e/backlink.spec.mjs
  packages/end-to-end/src/test/e2e/link.spec.mjs
  packages/end-to-end/src/test/features/steps/steps.ts
  packages/site/next.config.js
  packages/site/src/lib/markdownToHtml.ts
  packages/site/src/pages/[[...name]].tsx
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

doc: change documentation on how to deploy with Vercel
  README.md
Due: prettier --write .

doc: change documentation on how to deploy with Vercel (#87)
  README.md
Due: prettier --write .

up: upgrade node packages
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write .

up: build version on latest minor
  .github/workflows/build.yaml
Due: none

up: upgrade all node packages in all packages
  packages/end-to-end/package.json
  packages/garden/package.json
  packages/graph/package.json
  packages/site/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write .

feat: baseline thing discovery
  packages/garden/jest.config.cjs
  packages/garden/package.json
  packages/garden/src/nlp.test.ts
  packages/garden/src/nlp.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

test: test further variations
  packages/garden/src/nlp.test.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: extrat natural links
  packages/garden/package.json
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/markdown.ts
  packages/garden/src/nlp.test.ts
  packages/garden/src/nlp.ts
  packages/test-gardens/content/garden1/word/word-1.md
  packages/types/src/index.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: reduce duplicates in natural links
  packages/garden/src/garden.test.ts
  packages/garden/src/markdown.ts
  packages/garden/src/nlp.ts
  packages/test-gardens/content/garden1/README.md
  packages/test-gardens/content/garden1/archive/archived-thing.md
  packages/types/src/index.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: remove unwanted natural links from meta
  packages/garden/src/common.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/garden/src/nlp.ts
  packages/test-gardens/content/garden1/word/archive-linked.md
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: remove unique natural links
  packages/garden/src/common.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: remove pronouns from natural links
  packages/garden/src/nlp.test.ts
  packages/garden/src/nlp.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: style links based on link type
  packages/garden/src/garden.ts
  packages/garden/src/nlp.test.ts
  packages/garden/src/nlp.ts
  packages/graph/src/graph.ts
  packages/site/src/components/graph-diagram.tsx
  packages/site/src/pages/x/all.tsx
  packages/site/src/styles/globals.css
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

doc: describe graph rendering
  README.md
  docs/images/demo.png
Due: prettier --write .

feat: natural language discovery of links (#88)
  README.md
  docs/images/demo.png
  packages/garden/jest.config.cjs
  packages/garden/package.json
  packages/garden/src/common.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/markdown.ts
  packages/garden/src/nlp.test.ts
  packages/garden/src/nlp.ts
  packages/graph/src/graph.ts
  packages/site/src/components/graph-diagram.tsx
  packages/site/src/pages/x/all.tsx
  packages/site/src/styles/globals.css
  packages/test-gardens/content/garden1/README.md
  packages/test-gardens/content/garden1/archive/archived-thing.md
  packages/test-gardens/content/garden1/word/archive-linked.md
  packages/test-gardens/content/garden1/word/word-1.md
  packages/types/src/index.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: don't show crowded nodes
  README.md
  packages/garden/src/nlp.test.ts
  packages/site/src/components/collideRectangle.ts
  packages/site/src/components/graph-diagram.tsx
  packages/site/src/lib/graph/graph.ts
  packages/site/src/lib/graph/types.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: tweak node force
  packages/site/src/components/graph-diagram.tsx
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: use note title for graph label
  docs/images/demo.png
  packages/site/src/components/graph-diagram.tsx
  packages/site/src/lib/graph/graph.ts
  packages/site/src/lib/graph/types.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: use note title for graph label (#90)
  docs/images/demo.png
  packages/site/src/components/graph-diagram.tsx
  packages/site/src/lib/graph/graph.ts
  packages/site/src/lib/graph/types.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: don't extract implicit links from within explicit links
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/markdown.ts
  packages/garden/src/nlp.test.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: don't extract implicit links from within explicit links (#91)
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/markdown.ts
  packages/garden/src/nlp.test.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

test: remove test that was not part of this change
  packages/garden/src/nlp.test.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: graph refinements after implicit thing link discovery (#89)
  README.md
  packages/site/src/components/collideRectangle.ts
  packages/site/src/components/graph-diagram.tsx
  packages/site/src/lib/graph/graph.ts
  packages/site/src/lib/graph/types.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

test: expect spaces to be coverted to dash
  packages/garden/src/link.test.ts
  packages/test-gardens/content/garden1/links.md
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix
