Repository ianhomer/digital-garden: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., pnpm eslint:fix

.lintstagedrc:

{
  "*.{cjs,css,js,json,ts,tsx,md}": "prettier --write .",
  "*.{cjs,js,ts,tsx}": "pnpm eslint:fix"
}

👷 correct name of just install step
  .github/workflows/build.yaml
Due: none

✨ early version of standalone demo of graph (#164)
  .github/workflows/build.yaml
  .gitignore
  package.json
  packages/core/package.json
  packages/core/rollup.config.js
  packages/core/tsconfig.json
  packages/demo/index.html
  packages/graph/package.json
  packages/graph/rollup.config.js
  packages/graph/src/render-graph.test.ts
  packages/graph/tsconfig.json
  packages/types/package.json
  packages/types/rollup.config.js
  packages/types/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., pnpm eslint:fix

🚨 bundle types into single bundle
  packages/graph/package.json
  packages/graph/rollup.config.js
  packages/graph/tsconfig.json
  packages/types/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., pnpm eslint:fix

💚 dynamically calculate project root
  packages/graph/rollup.config.js
  packages/graph/tsconfig.json
Due: prettier --write ., pnpm eslint:fix

👷 build packages in CI
  .github/workflows/build.yaml
Due: none

🚨 create one graph bundle that can be used
  packages/core/src/index.test.ts
  packages/core/src/index.ts
  packages/core/src/link.ts
  packages/demo/index.html
  packages/graph/rollup.config.js
  packages/graph/tsconfig.json
  packages/types/tsconfig.json
Due: prettier --write ., pnpm eslint:fix

✅ test graph package bundled OK
  .github/workflows/build.yaml
  package.json
  packages/graph-standalone/babel.config.cjs
  packages/graph-standalone/jest.config.cjs
  packages/graph-standalone/package-lock.json
  packages/graph-standalone/package.json
  packages/graph-standalone/src/index.html
  packages/graph-standalone/src/standalone-graph.test.ts
  packages/graph-standalone/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., pnpm eslint:fix

🔥 prune unused files
  packages/graph/package.json
  packages/graph/rollup.config.js
  pnpm-lock.yaml
Due: prettier --write ., pnpm eslint:fix

👷 package graph library into one bundle directly from typescript (#165)
  .github/workflows/build.yaml
  package.json
  packages/core/src/index.test.ts
  packages/core/src/index.ts
  packages/core/src/link.ts
  packages/graph-standalone/babel.config.cjs
  packages/graph-standalone/jest.config.cjs
  packages/graph-standalone/package-lock.json
  packages/graph-standalone/package.json
  packages/graph-standalone/src/index.html
  packages/graph-standalone/src/standalone-graph.test.ts
  packages/graph-standalone/tsconfig.json
  packages/graph/package.json
  packages/graph/rollup.config.js
  packages/types/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., pnpm eslint:fix

♻️ split core back into multiple fs files
  packages/core/package.json
  packages/core/rollup.config.js
  packages/core/src/index.ts
  packages/core/src/link.test.ts
  packages/core/src/link.ts
  packages/graph-standalone/src/index.html
  packages/graph/package.json
  pnpm-lock.yaml
Due: prettier --write ., pnpm eslint:fix

👷 update package locks
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --write .

📝 readme for core package
  packages/core/README.md
Due: prettier --write .

♻️ split core back into multiple fs files (#166)
  packages/core/README.md
  packages/core/package.json
  packages/core/rollup.config.js
  packages/core/src/index.ts
  packages/core/src/link.test.ts
  packages/core/src/link.ts
  packages/graph-standalone/src/index.html
  packages/graph/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --write ., pnpm eslint:fix

🧪 factory tests
  packages/core/src/factory.test.ts
  packages/core/src/factory.ts
Due: prettier --write ., pnpm eslint:fix

♻️ move factory into core
  packages/core/package.json
  packages/core/src/factory.test.ts
  packages/core/src/factory.ts
  packages/core/src/index.ts
  packages/core/src/link.ts
  packages/graph/src/feature/feature-helpers.ts
  packages/graph/src/feature/limit-depth.test.ts
  packages/types/src/index.ts
  pnpm-lock.yaml
Due: prettier --write ., pnpm eslint:fix

♻️ Move factory into core (#167)
  packages/core/package.json
  packages/core/src/factory.test.ts
  packages/core/src/factory.ts
  packages/core/src/index.ts
  packages/core/src/link.ts
  packages/graph/src/feature/limit-depth.test.ts
  packages/types/src/index.ts
  pnpm-lock.yaml
Due: prettier --write ., pnpm eslint:fix

♻️ rename factory to builder
  packages/core/src/builder.test.ts
  packages/core/src/builder.ts
  packages/core/src/index.ts
  packages/graph/src/feature/limit-depth.test.ts
Due: prettier --write ., pnpm eslint:fix

🚨 correct lintstage for eslint to be more optimal
  .lintstagedrc
Due: none

✨ improve builder API
  packages/core/src/builder.test.ts
  packages/core/src/builder.ts
Due: prettier --write ., pnpm eslint:fix

♻️ use builder in standalone graph test
  packages/graph-standalone/src/index.html
  packages/graph-standalone/src/standalone-graph.test.ts
  packages/graph/src/index.ts
Due: prettier --write ., pnpm eslint:fix

♻️ use builder in standalone graph example
  packages/graph-standalone/src/index.html
Due: none

♻️ rename meta factory to builder
  .lintstagedrc
  packages/core/src/builder.test.ts
  packages/core/src/builder.ts
  packages/core/src/factory.ts
  packages/core/src/index.ts
  packages/graph-standalone/src/index.html
  packages/graph-standalone/src/standalone-graph.test.ts
  packages/graph/src/feature/limit-depth.test.ts
  packages/graph/src/index.ts
Due: prettier --write ., pnpm eslint:fix

👷 run unit tests on direct commit to trunk
  .husky/pre-commit
  package.json
Due: prettier --write .

✅ optimise unit test execution speed
  .husky/pre-commit
  package.json
  packages/core/jest.config.cjs
  packages/core/src/link.ts
  packages/garden/jest.config.cjs
  packages/garden/package.json
  packages/graph/jest.config.cjs
  packages/graph/package.json
Due: prettier --write ., pnpm eslint:fix

✅ enable main branch test
  .husky/pre-commit
  packages/core/src/link.ts
Due: prettier --write ., pnpm eslint:fix

👷 correct test on packages
  package.json
Due: prettier --write .

✅ unit test on commit into main (#169)
  .husky/pre-commit
  package.json
  packages/core/jest.config.cjs
  packages/garden/jest.config.cjs
  packages/garden/package.json
  packages/graph/jest.config.cjs
  packages/graph/package.json
Due: prettier --write ., pnpm eslint:fix

✨ many thing builder
  packages/core/package.json
  packages/core/src/builder.test.ts
  packages/core/src/builder.ts
  packages/graph-standalone/src/index.html
  pnpm-lock.yaml
Due: prettier --write ., pnpm eslint:fix

✅ improve balance of standalone graph test
  packages/core/src/builder.ts
  packages/graph-standalone/src/index.html
Due: prettier --write ., pnpm eslint:fix

💄 improve balance of standalone graph test
  packages/graph-standalone/src/index.html
Due: none

🚨 lint fix
  package.json
  packages/graph-standalone/package.json
Due: prettier --write .

✨ many thing builder (#170)
  package.json
  packages/core/package.json
  packages/core/src/builder.test.ts
  packages/core/src/builder.ts
  packages/graph-standalone/package.json
  packages/graph-standalone/src/index.html
  pnpm-lock.yaml
Due: prettier --write ., pnpm eslint:fix

♻️ rename renderGraph to render
  packages/graph-standalone/src/index.html
  packages/graph/src/index.ts
  packages/graph/src/render.test.ts
  packages/graph/src/render.ts
  packages/react/src/graph-diagram.tsx
Due: prettier --write ., pnpm eslint:fix

⬆️ upgrade all dependencies
  package.json
  packages/core/package.json
  packages/end-to-end/package.json
  packages/garden/package.json
  packages/graph-standalone/package.json
  packages/graph/package.json
  packages/markdown/package.json
  packages/react/package.json
  packages/site/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ upgrade all dependencies (#171)
  package.json
  packages/core/package.json
  packages/end-to-end/package.json
  packages/garden/package.json
  packages/graph-standalone/package.json
  packages/graph/package.json
  packages/markdown/package.json
  packages/react/package.json
  packages/site/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write .

🧪 create tests for normalising of thing name
  packages/garden/src/feature/normalise-thing-names.test.ts
  packages/garden/src/file-garden-repository.test.ts
  packages/test-gardens/content/garden1/CAPITALISED.md
Due: prettier --write ., pnpm eslint:fix

♻️ normalise thing names to lower case
  packages/core/src/link.test.ts
  packages/core/src/link.ts
  packages/garden/src/base-garden-repository.ts
  packages/garden/src/base-item.ts
  packages/garden/src/feature/feature-helpers.ts
  packages/garden/src/feature/normalise-thing-names.test.ts
  packages/garden/src/file-garden-repository.test.ts
  packages/garden/src/file-garden-repository.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/page.test.ts
Due: prettier --write ., pnpm eslint:fix

🐛 readme is now mapped to the index
  packages/garden/src/content.ts
  packages/garden/src/links.ts
Due: prettier --write ., pnpm eslint:fix

♻️ normalise thing names to lower case (#172)
  packages/core/src/link.test.ts
  packages/core/src/link.ts
  packages/garden/src/base-garden-repository.ts
  packages/garden/src/base-item.ts
  packages/garden/src/content.ts
  packages/garden/src/feature/feature-helpers.ts
  packages/garden/src/feature/normalise-thing-names.test.ts
  packages/garden/src/file-garden-repository.test.ts
  packages/garden/src/file-garden-repository.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/links.ts
  packages/garden/src/page.test.ts
  packages/test-gardens/content/garden1/CAPITALISED.md
Due: prettier --write ., pnpm eslint:fix

🚨 apply eqeqeq lint rule
  .eslintignore
  .eslintrc.json
  package.json
  packages/end-to-end/src/test/features/steps/steps.ts
  packages/garden/src/file-garden-repository.ts
  packages/garden/src/find.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/garden/src/links.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/markdown.ts
  packages/garden/src/nlp.ts
  packages/graph/src/collide-rectangle.ts
  packages/graph/src/default-configuration.ts
  packages/graph/src/find-deep-links.ts
  packages/graph/src/graph.ts
  packages/graph/src/render.ts
  packages/site/src/pages/x/stats.tsx
  packages/site/src/pages/x/wanted.tsx
Due: prettier --write ., pnpm eslint:fix
