Repository ianhomer/digital-garden: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

.lintstagedrc:

{
  "*.{cjs,css,js,json,ts,tsx,md}": "prettier --write .",
  "*.{cjs,js,ts,tsx}": "eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix"
}

📄 Change license to ISC (#130)
  LICENSE
  package.json
  packages/garden/package.json
  packages/graph/package.json
  packages/site/package.json
  packages/test-gardens/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write .

✅ feature approach for graph assertions
  packages/garden/tsconfig.json
  packages/graph/package.json
  packages/graph/src/feature/feature-helpers.ts
  packages/graph/src/feature/limit-depth.test.ts
  packages/graph/src/graph.test.ts
  packages/graph/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

✅ feature approach for graph assertions (#131)
  packages/garden/tsconfig.json
  packages/graph/package.json
  packages/graph/src/feature/feature-helpers.ts
  packages/graph/src/feature/limit-depth.test.ts
  packages/graph/src/graph.test.ts
  packages/graph/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ rename graph to client
  packages/client/babel.config.cjs
  packages/client/package.json
  packages/client/src/feature/feature-helpers.ts
  packages/client/src/feature/limit-depth.test.ts
  packages/client/src/graph.ts
  packages/client/src/index.ts
  packages/client/tsconfig.json
  packages/site/package.json
  packages/site/src/pages/[[...name]].tsx
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ rename graph to client (#132)
  packages/client/babel.config.cjs
  packages/client/package.json
  packages/client/src/feature/feature-helpers.ts
  packages/client/src/feature/limit-depth.test.ts
  packages/client/src/graph.ts
  packages/client/src/index.ts
  packages/client/tsconfig.json
  packages/site/package.json
  packages/site/src/pages/[[...name]].tsx
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ move useWindowDimensions to client library
  packages/client/package.json
  packages/client/src/index.ts
  packages/client/src/useWindowDimensions.ts
  packages/site/src/pages/[[...name]].tsx
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ move useKey to client library
  packages/client/src/useKey.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ link in useKey
  packages/client/src/index.ts
  packages/client/src/useKey.ts
  packages/site/src/pages/[[...name]].tsx
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ move D3 reusable into client package
  packages/client/package.json
  packages/client/src/collideRectangle.ts
  packages/client/src/findDeepLinks.ts
  packages/client/src/graph-diagram.tsx
  packages/client/src/graph.ts
  packages/client/src/index.ts
  packages/client/src/link.ts
  packages/client/src/types.ts
  packages/client/tsconfig.json
  packages/site/src/lib/graph/graph.ts
  packages/site/src/pages/[[...name]].tsx
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

✅ correct findDeepLinks import
  packages/client/src/feature/limit-depth.test.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ move reusable code in site into client library (#133)
  packages/client/package.json
  packages/client/src/collideRectangle.ts
  packages/client/src/feature/limit-depth.test.ts
  packages/client/src/findDeepLinks.ts
  packages/client/src/graph-diagram.tsx
  packages/client/src/graph.ts
  packages/client/src/index.ts
  packages/client/src/link.ts
  packages/client/src/types.ts
  packages/client/src/useKey.ts
  packages/client/src/useWindowDimensions.ts
  packages/client/tsconfig.json
  packages/site/src/lib/graph/graph.ts
  packages/site/src/pages/[[...name]].tsx
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ create core library
  packages/client/src/graph.ts
  packages/client/src/link.ts
  packages/core/babel.config.cjs
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/link.test.ts
  packages/core/src/link.ts
  packages/core/tsconfig.json
  packages/garden/package.json
  packages/garden/src/garden.ts
  packages/garden/src/index.ts
  packages/garden/src/markdown.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ create core library (#134)
  packages/client/src/graph.ts
  packages/client/src/link.ts
  packages/core/babel.config.cjs
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/link.test.ts
  packages/core/src/link.ts
  packages/core/tsconfig.json
  packages/garden/package.json
  packages/garden/src/garden.ts
  packages/garden/src/index.ts
  packages/garden/src/markdown.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ move markdown site logic into client package
  packages/client/package.json
  packages/client/src/index.ts
  packages/client/src/markdownToHtml.ts
  packages/client/src/remark-garden-directives.ts
  packages/client/src/remark-wiki-link.d.ts
  packages/site/src/pages/[[...name]].tsx
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ move markdown site logic into client package (#135)
  packages/client/package.json
  packages/client/src/index.ts
  packages/client/src/markdownToHtml.ts
  packages/client/src/remark-garden-directives.ts
  packages/client/src/remark-wiki-link.d.ts
  packages/site/src/pages/[[...name]].tsx
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ remove unused dependencies
  package.json
  packages/site/package.json
Due: prettier --write .

🔥 remove unused dependencies
  packages/site/package.json
Due: prettier --write .

📦️ update package lock
  package.json
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write .

🔥 remove lodash packages
  packages/garden/package.json
  packages/site/package.json
Due: prettier --write .

📦️ update package lock
  pnpm-lock.yaml
Due: none

🔥 remove markdown libs from site package
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write .

🔥 remove unused dependencies (#136)
  packages/garden/package.json
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬆️ upgrade packages
  package.json
  packages/client/package.json
  packages/core/package.json
  packages/end-to-end/package.json
  packages/garden/package.json
  packages/site/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write .

🚨 lint lintstagedrcl
  .lintstagedrc
Due: none

🚨 package format
  packages/client/package.json
  packages/core/package.json
  packages/garden/package.json
  packages/site/package.json
  packages/test-gardens/package.json
  packages/types/package.json
Due: prettier --write .

⬇️ take playwright back to 1.27.1
  packages/end-to-end/package.json
  pnpm-lock.yaml
Due: prettier --write .

⬇️ downgrade cucumber
  packages/end-to-end/package.json
  pnpm-lock.yaml
Due: prettier --write .

🔨 improve clean up scripts
  package.json
  packages/end-to-end/package.json
  pnpm-lock.yaml
Due: prettier --write .

🔨 improve clean up scripts (#138)
  package.json
  packages/end-to-end/package.json
  pnpm-lock.yaml
Due: prettier --write .

🚨 lint file
  .lintstagedrc
Due: none

⬆️ upgrade packages (#139)
  .lintstagedrc
  package.json
  packages/client/package.json
  packages/core/package.json
  packages/end-to-end/package.json
  packages/garden/package.json
  packages/site/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write .

♻️ rename client package to react
  packages/react/babel.config.cjs
  packages/react/package.json
  packages/react/src/collideRectangle.ts
  packages/react/src/feature/feature-helpers.ts
  packages/react/src/feature/limit-depth.test.ts
  packages/react/src/findDeepLinks.ts
  packages/react/src/graph-diagram.tsx
  packages/react/src/graph.ts
  packages/react/src/index.ts
  packages/react/src/markdownToHtml.ts
  packages/react/src/remark-garden-directives.ts
  packages/react/src/remark-wiki-link.d.ts
  packages/react/src/types.ts
  packages/react/src/useKey.ts
  packages/react/src/useWindowDimensions.ts
  packages/react/tsconfig.json
  packages/site/package.json
  packages/site/src/pages/[[...name]].tsx
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ rename client package to react (#140)
  packages/react/babel.config.cjs
  packages/react/package.json
  packages/react/src/collideRectangle.ts
  packages/react/src/feature/feature-helpers.ts
  packages/react/src/feature/limit-depth.test.ts
  packages/react/src/findDeepLinks.ts
  packages/react/src/graph-diagram.tsx
  packages/react/src/graph.ts
  packages/react/src/index.ts
  packages/react/src/markdownToHtml.ts
  packages/react/src/remark-garden-directives.ts
  packages/react/src/remark-wiki-link.d.ts
  packages/react/src/types.ts
  packages/react/src/useKey.ts
  packages/react/src/useWindowDimensions.ts
  packages/react/tsconfig.json
  packages/site/package.json
  packages/site/src/pages/[[...name]].tsx
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ pull non react graph logic into graph package
  packages/graph/babel.config.cjs
  packages/graph/package.json
  packages/graph/src/collideRectangle.ts
  packages/graph/src/feature/feature-helpers.ts
  packages/graph/src/feature/limit-depth.test.ts
  packages/graph/src/findDeepLinks.ts
  packages/graph/src/graph.ts
  packages/graph/src/index.ts
  packages/graph/src/types.ts
  packages/graph/tsconfig.json
  packages/react/package.json
  packages/react/src/graph-diagram.tsx
  packages/react/src/index.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ pull non react graph logic into graph package (#141)
  packages/graph/babel.config.cjs
  packages/graph/package.json
  packages/graph/src/collideRectangle.ts
  packages/graph/src/feature/feature-helpers.ts
  packages/graph/src/feature/limit-depth.test.ts
  packages/graph/src/findDeepLinks.ts
  packages/graph/src/graph.ts
  packages/graph/src/index.ts
  packages/graph/src/types.ts
  packages/graph/tsconfig.json
  packages/react/package.json
  packages/react/src/graph-diagram.tsx
  packages/react/src/index.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ split out some of the d3 graph logic into graph lib
  packages/graph/src/index.ts
  packages/graph/src/renderGraph.ts
  packages/graph/src/types.ts
  packages/react/src/graph-diagram.tsx
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ split out some of the d3 graph logic into graph lib (#142)
  packages/graph/src/index.ts
  packages/graph/src/renderGraph.ts
  packages/graph/src/types.ts
  packages/react/src/graph-diagram.tsx
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ default configuration now in graph lib
  packages/graph/src/defaultConfiguration.ts
  packages/graph/src/index.ts
  packages/react/src/graph-diagram.tsx
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

♻️ default configuration now in graph lib (#143)
  packages/graph/src/defaultConfiguration.ts
  packages/graph/src/index.ts
  packages/react/src/graph-diagram.tsx
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix
