Repository ianhomer/digital-garden: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

build: update lock
  pnpm-lock.yaml
Due: none

feat: optimised meta reload
  packages/garden/src/garden.ts
  packages/site/bin/garden.cjs
  packages/site/src/scripts/pre-build.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

lint: sort package
  package.json
  packages/garden/package.json
  packages/graph/package.json
  packages/site/package.json
  packages/types/package.json
Due: prettier --write .

fix: tertiary refresh
  packages/site/src/scripts/pre-build.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

build: upgrade to node 18 in pipeline
  .github/workflows/build.yaml
Due: none

fix: full refresh for now
  packages/site/src/scripts/pre-build.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: reload meta JSON in command line (#76)
  .github/workflows/build.yaml
  package.json
  packages/garden/package.json
  packages/garden/src/garden.ts
  packages/graph/package.json
  packages/site/bin/garden.cjs
  packages/site/package.json
  packages/site/src/scripts/pre-build.ts
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: optimise meta refresh with one file change
  packages/site/src/scripts/pre-build.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

fix: handle unknown type
  packages/site/src/scripts/pre-build.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

fix: test if config.directory is null
  packages/site/src/scripts/pre-build.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

fix: use garden.config.directory
  packages/site/src/scripts/pre-build.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

fix: cast arg to string
  packages/site/src/scripts/pre-build.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

fix: check if argv patch is a string
  packages/site/src/scripts/pre-build.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: optimise refresh with one file (#78)
  packages/site/src/scripts/pre-build.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

build: upgrade typescript
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write .

build: upgrade typescript
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write .

build: upgrade typescript (#79)
  packages/site/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write .

build: explicit d3 quadtree and force types
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write .

feature: tune graph diagram
  packages/site/src/components/collideRectangle.ts
  packages/site/src/components/graph-diagram.tsx
  packages/site/src/styles/globals.css
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feature: improve graph balancing (#80)
  packages/site/package.json
  packages/site/src/components/collideRectangle.ts
  packages/site/src/components/graph-diagram.tsx
  packages/site/src/styles/globals.css
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feature: improve graph boundary
  packages/site/src/components/graph-diagram.tsx
  packages/site/src/styles/globals.css
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feature: improve graph boundary (#81)
  packages/site/src/components/graph-diagram.tsx
  packages/site/src/styles/globals.css
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

fix: optimise meta reload
  packages/site/bin/garden.cjs
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

fix: file change optimisation
  packages/site/bin/garden.cjs
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

fix: optimise meta reload (#82)
  packages/site/bin/garden.cjs
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

build: update pnpm to 7.3.0
  .github/workflows/build.yaml
Due: none

up: packages
  package.json
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write .

refactor: update type usage
  packages/site/package.json
  packages/site/src/lib/markdownToHtml.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

build: optimise build with e2e filter
  .github/workflows/build.yaml
Due: none

Update dependencies (#83)
  .github/workflows/build.yaml
  package.json
  packages/site/package.json
  packages/site/src/lib/markdownToHtml.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: deploy garden from parent directory
  packages/garden/src/garden.ts
  packages/site/garden.config.js
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: deploy garden from parent directory (#84)
  packages/garden/src/garden.ts
  packages/site/garden.config.js
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

Path conditions:
  prettier --write .: any of: *.{cjs,css,js,json,ts,tsx,md}
  eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix: any of: *.{cjs,js,ts,tsx}
