Repository ianhomer/digital-garden: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

.lintstagedrc:

{
  "*.{cjs,css,js,json,ts,tsx,md}": "prettier --write .",
  "*.{cjs,js,ts,tsx}": "eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix"
}

correct find absolute
  packages/garden/src/content.ts
  packages/garden/src/find.ts
  packages/site/src/pages/[[...name]].tsx
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

Exclude output from prettier
  .prettierignore
Due: none

refactor: move content and find logic into garden lib (#68)
  .prettierignore
  packages/garden/package.json
  packages/garden/src/content.ts
  packages/garden/src/find.ts
  packages/garden/src/index.ts
  packages/garden/src/links.ts
  packages/site/src/lib/content.ts
  packages/site/src/pages/[[...name]].tsx
  packages/site/src/pages/x/all.tsx
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

test: content, link and find test baseline
  packages/garden/package.json
  packages/garden/src/content.test.ts
  packages/garden/src/find.test.ts
  packages/garden/src/find.ts
  packages/garden/src/garden.ts
  packages/garden/src/links.test.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

test: content, link and find test baseline (#69)
  packages/garden/package.json
  packages/garden/src/content.test.ts
  packages/garden/src/find.test.ts
  packages/garden/src/find.ts
  packages/garden/src/garden.ts
  packages/garden/src/links.test.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

refactor: simplify findLinks API
  packages/garden/src/links.test.ts
  packages/garden/src/links.ts
  packages/site/src/pages/[[...name]].tsx
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

test: refactor link assertions
  packages/garden/src/content.ts
  packages/garden/src/index.ts
  packages/garden/src/links.test.ts
  packages/site/src/pages/[[...name]].tsx
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

refactor: dedupe garden1 config
  packages/garden/src/content.test.ts
  packages/garden/src/find.test.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/links.test.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/test-helpers.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

fix: garden config
  packages/garden/src/garden.test.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/test-helpers.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

test: backlink test coverage
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/garden/src/links.test.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/test-helpers.ts
  packages/test-gardens/content/garden1/word/word-1.md
  packages/test-gardens/content/garden1/word/word-2.md
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

test: get all items
  packages/garden/src/content.test.ts
  packages/garden/src/content.ts
  packages/garden/src/find.test.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: links api refinement and more test coverage (#70)
  packages/garden/src/content.test.ts
  packages/garden/src/content.ts
  packages/garden/src/find.test.ts
  packages/garden/src/garden.test.ts
  packages/garden/src/garden.ts
  packages/garden/src/index.ts
  packages/garden/src/links.test.ts
  packages/garden/src/links.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/test-helpers.ts
  packages/site/src/pages/[[...name]].tsx
  packages/test-gardens/content/garden1/word/word-1.md
  packages/test-gardens/content/garden1/word/word-2.md
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: pino logging
  packages/garden/package.json
  packages/garden/src/content.ts
  packages/garden/src/garden.ts
  packages/garden/src/logger.ts
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: pino logging (#71)
  packages/garden/package.json
  packages/garden/src/content.ts
  packages/garden/src/garden.ts
  packages/garden/src/logger.ts
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

fix: title from markdown with frontmatter
  packages/garden/src/markdown.test.ts
  packages/garden/src/markdown.ts
  packages/test-gardens/content/garden1/frontmatter-with-no-content.md
  packages/test-gardens/content/garden1/frontmatter.md
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

fix: correct garden item test count
  packages/garden/src/garden.test.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

fix: title from markdown with frontmatter (#72)
  packages/garden/src/garden.test.ts
  packages/garden/src/markdown.test.ts
  packages/garden/src/markdown.ts
  packages/test-gardens/content/garden1/frontmatter-with-no-content.md
  packages/test-gardens/content/garden1/frontmatter.md
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

build: add sonarjs
  .eslintignore
  .eslintrc.json
  package.json
  packages/garden/src/file.ts
  packages/garden/src/find.test.ts
  packages/garden/src/find.ts
  packages/site/src/lib/markdownToHtml.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

build: add sonarjs (#73)
  .eslintignore
  .eslintrc.json
  package.json
  packages/garden/src/file.ts
  packages/garden/src/find.test.ts
  packages/garden/src/find.ts
  packages/site/src/lib/markdownToHtml.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: markdown emoji and directives
  packages/site/package.json
  packages/site/src/lib/markdownToHtml.ts
  packages/site/src/lib/remark-garden-directives.ts
  packages/site/src/lib/remark-wiki-link.d.ts
  packages/site/src/styles/globals.css
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

fix: remove logs
  packages/site/src/lib/remark-garden-directives.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

refactor: simplify directive handling
  packages/site/src/lib/remark-garden-directives.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: refine directive style
  packages/site/src/styles/globals.css
Due: prettier --write .

feat: markdown emoji and directives (#74)
  packages/site/package.json
  packages/site/src/lib/markdownToHtml.ts
  packages/site/src/lib/remark-garden-directives.ts
  packages/site/src/lib/remark-wiki-link.d.ts
  packages/site/src/styles/globals.css
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: style h3
  packages/site/src/styles/globals.css
Due: prettier --write .

feat: style ordered lists
  packages/site/src/styles/globals.css
Due: prettier --write .

feat: ol and h3 styling (#75)
  packages/site/src/styles/globals.css
Due: prettier --write .

feature: reload meta JSON in command line
  packages/site/bin/garden.cjs
  packages/site/src/scripts/pre-build.ts
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

feat: optimise refresh by patching file
  package.json
  packages/garden/src/garden.ts
  packages/site/package.json
  packages/site/src/scripts/pre-build.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint src --ext .cjs --ext .js --ext .tsx --ext .ts --fix

build: update dependencies
  package.json
  packages/end-to-end/package.json
  packages/garden/package.json
  packages/graph/package.json
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write .

build: update dependencies (#77)
  package.json
  packages/end-to-end/package.json
  packages/garden/package.json
  packages/graph/package.json
  packages/site/package.json
  pnpm-lock.yaml
Due: prettier --write .
